<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="service" class="com.yorels.service.CustomerServiceImpl">
        <property name="customerRepository" ref="customerRepo"></property>
    </bean>

    <bean name="customerRepo" class="com.yorels.data.HibernateCustomerRepositoryImpl"/>

</beans>